---
import type { Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { SITE } from "@/config";
import LOCALE from "@/i18n";

const posts = await getCollection("blog", (entry: CollectionEntry<"blog">) => !entry.data.draft);
const sortedPosts = getSortedPosts(posts);

const pageSize = SITE.postPerPage;
const pageData = sortedPosts.slice(0, pageSize);
const lastPage = Math.ceil(sortedPosts.length / pageSize);

const total = sortedPosts.length;
const start = 1;
const end = pageData.length;
const size = pageSize;

const page = {
  data: pageData,
  currentPage: 1,
  lastPage,
  start,
  end,
  total,
  size,
  url: {
    prev: null,
    next: lastPage > 1 ? `/posts/page/2/` : null,
  },
};
---

<Layout title={`${LOCALE.breadcrumbNames.posts} | ${SITE.title}`}>
  <Header />
  <Main pageTitle={LOCALE.breadcrumbNames.posts} pageDesc="我发布的所有文章。">
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination page={page as unknown as Page<CollectionEntry<"blog">>} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
