---
import { getCollection } from "astro:content";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Card from "@/components/Card.astro";
import Pagination from "@/components/Pagination.astro";
import getPostsByTag from "@/utils/getPostsByTag";
import getSortedPosts from "@/utils/getSortedPosts";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import LOCALE from "@/i18n";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);

  return tags.map(({ tag, tagName }) => ({ params: { tag }, props: { tagName } }));
}

const params = Astro.params;
const { tag } = params;

const posts = await getCollection("blog", (entry: CollectionEntry<"blog">) => !entry.data.draft);
const tagPosts = getPostsByTag(posts, tag);
const sorted = getSortedPosts(tagPosts);

const pageSize = SITE.postPerPage;
const pageData = sorted.slice(0, pageSize);
const lastPage = Math.ceil(sorted.length / pageSize);

const total = sorted.length;
const start = 1;
const end = pageData.length;
const size = pageSize;

const page = {
  data: pageData,
  currentPage: 1,
  lastPage,
  start,
  end,
  total,
  size,
  url: {
    prev: null,
    next: lastPage > 1 ? `/tags/${tag}/page/2/` : null,
  },
};
---

<Layout title={`${Astro.props.tagName ?? decodeURIComponent(tag)} | ${SITE.title}`}>
  <Header />
  <Main
    pageTitle={Astro.props.tagName ?? decodeURIComponent(tag)}
    pageDesc={`所有带有 "${Astro.props.tagName ?? decodeURIComponent(tag)}" 标签的文章。`}
  >
    <ul>
      {page.data.map(data => <Card {...data} />)}
    </ul>
  </Main>

  <Pagination page={page as unknown as Page<CollectionEntry<"blog">>} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
